.App {
  text-align: center;
  /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Oswald', sans-serif;
}

/* @font-face {
  font-family: 'YOswald';
  src: url('path-to-your-font-file.woff2') format('woff2'),
       url('path-to-your-font-file.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */


body {
  background-image: url("../public/basketscoutpaper.png");
  background-blend-mode: lighten;

  background-size: auto;
  background-color: hsl(0, 0%, 95%);
}

.live-score {
  color: aliceblue;
  background-color: rgb(13, 61, 101);
}
.live-box {
  background-color: rgba(52, 91, 248, 0.835);
  color: rgb(253, 157, 73);
  font-size: large;
  font-weight: 500;
}

.live-container {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  z-index: 000;
  background-color: rgba(220, 220, 220, 0.356);

}

.live {
  color: brown;
}

.navBarBlack {
background-color: rgba(20, 20, 20);
}

.navLink {
  color: aliceblue;
}

.visibility {
  display: none;
  text-shadow:1rem;

}
.team {
  opacity: 0.75;
  background-color: rgba(47, 255, 0, 0);
}
.team:hover .visibility {
  display:block;
}

.team:hover {
background-color: rgba(0, 136, 255, 0.347);
opacity: 1;
}

.nav-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.games-box {
  background-color: rgba(52, 91, 248, 0.835);
  color: antiquewhite;
  width: 15rem;
  height:auto;
  border-radius: 5px;
  margin-top: 5%;
  font-weight: 500;
}

.games-box:hover {
  background-color: rgba(63, 124, 255, 0.804);
}

.unnecessary {
  background-color: darkgrey;
  opacity: 50%;
}

.unnecessary:hover {
  background-color: rgb(131, 131, 131);
}

.games-box-title {
  color:rgb(0, 59, 126);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem; /* Set the default font size */
  max-width: 100%; /* Ensure the title stays within the Card's width */
  line-height: 3; /* Set the line height to avoid overlapping */
  
  @media screen and (min-width: 576px) {
    font-size: 2rem; /* Reduce the font size on small screens */
  }
  
  @media screen and (min-width: 768px) {
    font-size: 0.8rem; /* Reduce the font size on medium screens */
  }
  
  @media screen and (min-width: 992px) {
    font-size: 0.7rem; /* Reduce the font size on large screens */
  }
}


.box-news {
  background-color: rgb(255, 255, 250);
  padding-top: 1%;
  padding-bottom: 1%;
  transition: box-shadow 0.3s ease-in-out;
}

/* .boxNew :hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
