.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

body {
  background-image: url("../public/basketscoutpaper.png");
  background-blend-mode: lighten;
  background-size: auto;
  background-color: hsl(0, 0%, 95%);
}

.live-score {
  color: aliceblue;
  background-color: rgb(13, 61, 101);
}
.live-box {
  background-color: rgba(52, 91, 248, 0.835);
  color: rgb(253, 157, 73);
  font-size: large;
  font-weight: 500;
}

.live-container {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  z-index: 000;
  background-color: rgba(220, 220, 220, 0.356);
  z-index: 9999;
}

.news-container {
  z-index: 9998;
}

.blur {
  backdrop-filter: blur(5px);
  background-color: rgba(220, 220, 220, 0.356);
}

.live {
  color: brown;
}

.navBarBlack {
background-color: rgba(20, 20, 20);
}

.navLink {
  color: aliceblue;
}

.visibility {
  display: none;
  text-shadow:1rem;
}

.team {
  opacity: 0.75;
  background-color: rgba(47, 255, 0, 0);
}

.team:hover .visibility {
  display:block;
}

.team:hover {
background-color: rgba(0, 136, 255, 0.347);
opacity: 1;
}

.nav-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.games-box {
  background-color: rgba(52, 91, 248, 0.835);
  color: rgb(220, 212, 212);
  width: 15rem;
  height:auto;
  border-radius: 5px;
  margin-top: 5%;
  font-weight: 500;
}

.game-box {
  margin-top: 1rem;
  background-color: rgba(189, 189, 189, 0.196);
}

.games-box:hover {
  background-color: rgba(63, 124, 255, 0.804);
}

.unnecessary {
  background-color: darkgrey;
  opacity: 50%;
}

.unnecessary:hover {
  background-color: rgb(131, 131, 131);
}

.games-box-title {
  color:rgb(0, 59, 126);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem; 
  max-width: 100%; 
  line-height: 3; 
}

.box-news {
  background-color: rgb(255, 255, 250);
  padding-top: 1%;
  padding-bottom: 1%;
  transition: box-shadow 0.3s ease-in-out;
}

.box-news:hover {
  box-shadow: 0 0 10px rgba(87, 87, 87, 0.5);
}

.player-card-img {
  opacity: 1;
}

.player-card-text{
  opacity: 0.60;
}

.player-card-footer{
  opacity: 0.5;
}

/* .player-card {
  background-color: rgba(234, 234, 234, 0.392);
} */

.player-card:hover {
  box-shadow: 0 0 10px rgba(87, 87, 87, 0.5); 
}

.player-card:hover .player-card-text{
  opacity: 1;
}

.player-card:hover .player-card-footer{
  opacity: 1;
}

.hr-roster {
  border: line 2px rgba(73, 73, 73, 0.584);
  margin-top: 2%;
  margin-bottom: 3%;
}

hr {
  margin-top:5px ;
  margin-bottom: 5px;
}