.App {
  text-align: center;
}

body {
  background-image: url("../public/basketscoutpaper.png");
  background-blend-mode: lighten;

  background-size: auto;
  background-color: #eef6e0;
}

.box {
  background-color: rgba(255, 254, 254, 0.6);
  color: rgb(0, 0, 0);
}

.navBarBlack {
background-color: rgba(20, 20, 20);
}

.navLink {
  color: aliceblue;
}