.Button {
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: -1%;
    
    cursor: pointer;
    margin: 0.25rem;

    &.next-day {
        background-color: #213bff;
        // border-top-right-radius: 0.75rem;
        // border-bottom-right-radius: 0.75rem;
    }
    &.next-week {
        background-color: #8e9bff;  
        // border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 1.5rem;
    }
    &.next-month {
        background-color: #c6ccfb;
        // border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 2.75rem;
    }
    &.prev-day {
        background-color: #ff4242;
    }

    &.prev-week {
        background-color: #ff9696;
        border-bottom-left-radius: 1.5rem;
    }
    &.prev-month {
        background-color: #fcbdbd;
        border-bottom-left-radius: 2.75rem;
    }
    &:hover {
        background-color: #444444;
    }
}

  